
<div class="question-window-container">
  <div class="quest-img" *ngIf="question.image !== null">
    <img [src]="this.question.image" alt="">
  </div>

  <div class="quest-text" style="max-width: 610px">
    <h3>{{ this.question.questText }}</h3>
  </div>

  <div class="answers-block">
  </div>

  <app-answers-block
    [questionNumber]="this.question.questionNumber - 1"
    [answers]="this.question.answers"
    [trueAnswer]="this.question.trueAnswer"
    (answerClick)="onAnswerClick($event)"
  ></app-answers-block>

</div>


