<form [formGroup]="form" (submit)="onSubmit()">

  <div class="form-group">
    <label>Email</label>
    <input
      formControlName="email"
      [class.is-invalid]="emailValidation()"

      type="email"
      placeholder="Введите email"
      class="form-control">
    <div class="invalid-feedback">
      {{ form.get('email').errors && getErrors(form.get('email').errors) }}
    </div>
  </div>

  <div class="form-group">
    <label>Пароль</label>
    <input
      formControlName="password"
      [class.is-invalid]="passValidation()"

      type="password"
      placeholder="Введите пароль"
      class="form-control">
    <div class="invalid-feedback">
      {{form.get('password').errors && getErrors(form.get('password').errors)}}
    </div>
  </div>

  <hr>

  <div class="form-group">
    <button type="submit" class="btn btn-success btn-block">Войти</button>
  </div>

</form>


<div>
  !Qq123
  <pre>
    {{ form.value | json }}
  </pre>
</div>


