.chat {
  width: 280px;
  background-color: #c9bfb5;
  padding: 5px;
  border-radius: 5px;

  top: 60px;
  right: 10px;

  z-index: 10;
  position: absolute;

}

.chat__body {
  background-color: white;
  font-size: 14px;
  border-radius: 3px;

  /*min-height: 200px;*/
  /*max-height: 200px;*/
  height: 200px;
  overflow-y: scroll;
}

.chat__title {
  display: flex;
  justify-content: center;

  width: inherit;
  height: 25px;

  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
  cursor: default;
}

.chat__title::selection {
  background: transparent;
}

.chat__title__text {
  margin-left: auto;
}
.arrow-open-close {
  border-radius: 50%;

  margin-left: auto;
  padding-right: 20px;
}
.arrow-open-close__item:hover {
  background-color: white;
  border-radius: 50%;
}


.message {
  display: flex;
  padding: 3px;
}

.message__text {
  padding-right: 5px;
  padding-left: 5px;

  font-size: 16px;
  border-radius: 10px;
  background-color: lightpink;
}

.message__you {
  justify-content: flex-end;
}
.message_opponent {
  justify-content: flex-start;
}

.time-stamp {
  font-style: italic;
  font-size: 9px;
}

/*.white-back {*/
  /*background-color: white;*/
/*}*/

/*.grey-back {*/
  /*background-color: grey;*/
  /*color: white;*/
/*}*/
