

<div class="chat" #chatWindow>

  <div
    (mouseup)="onmouseup($event)"
    (mousedown)="onmousedown($event)"
    class="chat__title" >

    <div class="chat__title__text">
      Чатик
    </div>

    <div class="arrow-open-close">
      <i class="fas fa-angle-up arrow-open-close__item" (click)="closeChat()" *ngIf="isOpen"></i>
      <i class="fas fa-angle-down arrow-open-close__item" (click)="openChat()" *ngIf="!isOpen"></i>
    </div>
  </div>

  <div *ngIf="isOpen" class="chat__body" #chatBody>
    <div
      *ngFor="let message of (messages$ | async)"

      [ngClass]="{
        'message__you': message['from'] === this.pvpService.yourEmail,
        'message_opponent': message['from'] !== this.pvpService.yourEmail
      }"
      class="message">

        <span class="message__text">
          {{ message['text'] }}
          <span class="time-stamp">{{ message['createdAt'] }}</span>
        </span>

      {{scrollToBottom()}}
    </div>

  </div>

  <div *ngIf="isOpen" class="chat__form">

    <form [formGroup]="form" (submit)="onSend()">
      <div class="form-group">
        <input
          formControlName="inputMessage"
          [class.is-invalid]="form.get('inputMessage').invalid"

          type="text"
          placeholder="Введите сообщение"
          class="form-control">
        <div class="invalid-feedback">
          {{ form.get('inputMessage').errors && getErrors(form.get('inputMessage').errors) }}
        </div>

      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success btn-block">Send</button>
      </div>
    </form>

  </div>

</div>
