<div class="practice-container">

  <div class="row justify-content-center">
      <h2>Выбирете билет</h2>
  </div>


  <div class="row align-items-center">


    <div
      (click)="getTicketNumber(ticket?.ticketNumber)"
      *ngFor="let ticket of (tickets$ | async)"
      class="col-lg-3 col-md-4">
      <div class="wrapper">
        <div class="ticket-block">
          <p>{{ ticket?.ticketNumber | json }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4">
      <div class="ticket-block"></div>
    </div>
  </div>

</div>

  <!--<app-ticket></app-ticket>-->




