div{
  border-radius: 10px;
}


.ticket-block {
  width: 200px;
  height: 200px;
  margin: 30px;
  text-align: center;

  vertical-align: center;
  background-color: #c9bfb5;
  /*background-color: #ff5500;*/
  cursor: pointer;


  /*ПОРОФЛИТЬ*/
  /*border-radius: 50%;*/
  position: relative;
  box-shadow:
    inset 0 0 0 0 rgba(255,85,0, 0.7),
    inset 0 0 0 16px rgba(255,255,255,0.6),
    0 1px 2px rgba(0,0,0,0.1);

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  /*ПОРОФЛИТЬ*/
}

.ticket-block:hover {
  /*ПОРОФЛИТЬ*/
  box-shadow:
    inset 0 0 0 110px rgba(255,85,0, 0.7),
    inset 0 0 0 16px rgba(255,255,255,0.8),
    0 1px 2px rgba(0,0,0,0.1);
  /*ПОРОФЛИТЬ*/
}

.ticket-block p {
  padding: 30%;
  font-size: 50px;
  margin-bottom: 0px;
}

.ticket-block__res {
  width: 200px;
  height: 200px;
  margin: 30px;
  text-align: center;
}

.practice-container {

}
