
<div class="wrap">

  <!--<div class="auth-content" *ngIf="(userEmail$ | async)">-->
  <div class="auth" *ngIf="!(userEmail$ | async)">

    <div class="auth__title">
      NoNameProject
    </div>

    <div class="auth__form">

      <nav class="auth__links">
        <a class="auth__links__link"
           routerLinkActive="active"
           routerLink="/login">Войти</a>

        <a class="auth__links__link"
           routerLinkActive="active"
           routerLink="/registration">Зарегистрироваться</a>
      </nav>

      <router-outlet></router-outlet>

    </div>
  </div>

  <div class="is-logged-in" *ngIf="(userEmail$ | async)">
    <div class="info">

      <div class="info__text">
        {{ (userEmail$ | async) }} <br> Ты уже залогинен!
      </div>

      <a class="auth__links__link"
         (click)="logout()">Выйти</a>

      <a class="auth__links__link"
         (click)="toCore()">Вернуться</a>

      <!--<a class="auth__links__link"-->
         <!--routerLink="/core">Вернуться</a>-->

    </div>
  </div>

</div>


<!--<div class="col-md-2">-->
  <!--<div class="blockk" style="background-color: #140e36"></div>-->
  <!--<div class="blockk" style="background-color: #402158"></div>-->
  <!--<div class="blockk" style="background-color: #7d5683"></div>-->
  <!--<div class="blockk" style="background-color: #c9bfb5"></div>-->
  <!--<div class="blockk" style="background-color: #e2e9ff"></div>-->
<!--</div>-->
