
.wrap {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;


  background: url(../../assets/city-min.png) repeat-x 0 100% fixed,
  linear-gradient(to top, #7d5683, #402158) fixed;
  animation: city 30s linear infinite;
  -webkit-animation: city 30s linear infinite;
}

/* auth-contetn PART*/
/* auth-contetn PART*/

.auth {
  padding-top: 15%;
}

.auth__title {
  font-size: 30px;
  color: azure;
  cursor: default;
}

.auth__form {
  background-color: #c9bfb5;
  border-radius: 5px;
  max-width: 330px;
  padding: 15px;
}

.auth__links {
  padding: 10px;
}

.auth__links__link {
  border: 1px solid black;
  border-radius: 5px;

  margin-left: 5px;
  margin-right: 5px;

  padding: 10px;

  text-decoration: none;
  color: azure;
}

.auth__links__link.active {
  background-color: rgba(255, 85, 0,  1);
}

.auth__links__link:hover {
  color: gray;
  text-decoration: none;
  background-color: rgba(255, 85, 0,  0.3);
}
.auth__links__link.active:hover {
  background-color: rgba(255, 85, 0,  1);
}


/* isLoggedIn PART */
/* isLoggedIn PART */

.is-logged-in {
  padding-top: 30%;
}

.info {
  background-color: #c9bfb5;
  border-radius: 5px;
  padding: 15px;
}

.info__text {
  padding-bottom: 10px;
}

/* anime-anime-anime-anime-anime-anime*/
/* anime-anime-anime-anime-anime-anime*/

@keyframes city {
  from { background-position: -1000px 100%, 120% 30%, 120% 15%, 0 0;}
  to { background-position: 0 100%, -200% 10%, -50% 15%, 0 0; }
}
@-webkit-keyframes city {
  from { background-position: -1000px 100%, 120% 30%, 120% 15%, 0 0;}
  to { background-position: 0 100%, -200% 10%, -50% 15%, 0 0; }
}
