<form [formGroup]="form" (submit)="onSubmit(pass)">

  <div class="form-group">
    <label>Email</label>
    <input
      formControlName="email"
      [class.is-invalid]="emailValidation()"

      type="email"
      placeholder="Введите email"
      class="form-control">
    <div class="invalid-feedback">
      {{ form.get('email').errors && getErrors(form.get('email').errors) }}
    </div>
  </div>

  <div formGroupName="password">
    <div class="form-group">
      <label>Пароль</label>
      <input
        formControlName="passFirst"
        [class.is-invalid]="passFirstValidation()"
        #pass

        type="password"
        placeholder="Введите пароль"
        class="form-control">
      <div class="invalid-feedback">
        {{form.get('password.passFirst').errors && getErrors(form.get('password.passFirst').errors)}}
      </div>
    </div>

    <div class="form-group">
      <input
        formControlName="passSecond"
        [class.is-invalid]="passSecondValidation()"

        type="password"
        placeholder="Повторите пароль"
        class="form-control">
      <div class="invalid-feedback">
        {{ form.get('password').errors && getErrors(form.get('password').errors) }}
      </div>
    </div>
  </div>

  <div class="form-check">
    <input
      formControlName="checkConfirm"
      [class.is-invalid]="form.get('checkConfirm').touched && !form.get('checkConfirm').value"

      type="checkbox"
      class="form-check-input">
    <label class="form-check-label">Я согласен, только не бейте!</label>
    <div class="invalid-feedback">
      Не согласен? Буду бить!
    </div>
  </div>

  <hr>

  <div class="form-group">
    <button type="submit" class="btn btn-success btn-block">Регнуться!</button>
  </div>
</form>


<div>
  <pre>
    {{ form.value | json }}
  </pre>
</div>
