.header {
  height: 7%;
  border-bottom: 1px solid #dadada;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.header__content {
  /*margin: 4%;*/
  margin-left: 4%;

  background-color: white;
  padding: 8px;
  border-radius: 8%;
  cursor: default;

}

.header__logout {
  margin: 4%;
}

.btn-border {
  border: 1px solid #dadada;
}
