<div class="header">

  <div class="header__content">
    Привет, {{ userEmail$ | async }}!
  </div>

  <div class="header__logout">
    <button
      (click)="logout()"
      class="btn btn-light btn-border">Выйти</button>
  </div>

</div>
