<div class="answers-block">
  <div *ngFor="let answer of this.answers; let i = index">
    <button
      (click)="onClick(answer)"
      [disabled]="this.answerIsGiven"

      [ngClass]="{
        'btn-light': !this.answerIsGiven || (answer !== this.selectedAnswer) && (answer !== this.trueAnswer),
        'btn-success': this.answerIsGiven && ( answer === this.trueAnswer),
        'btn-danger': (answer === this.selectedAnswer) && (answer !== this.trueAnswer)
      }"

      type="button"
      class="btn"
    >{{ i + 1 }} {{ answer }}</button>

  </div>
</div>
