
.inner-content {
  padding-top: 5%;
  border-radius: 5%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /*background-color: violet;*/
}

/*.progress-bar {*/

/*}*/

.question {
  display: flex;
  justify-content: center;
  border-radius: 5%;
}

.question__img {
  max-width: 750px;
  margin: 5%;
}

.arrow {
  font-size: 200px;
  color: #7d5683;
}

.arrow-left {
  padding-right: 50px;
}

.arrow-right {
  padding-left: 50px;
}

.icon-arrows {
  font-size: 100px;

}

.arrow:hover {
  font-size: 200px;
  color: #c9bfb5;
}

.arrow__last-position {
  color: #ff5500;
  font-size: 200px;
}

.arrow__last-position i {
  cursor:not-allowed;
}
