
<div class="inner-content">

  <app-progress-bar [countOfQuestions]="ticketLength"></app-progress-bar>

  <div class="question">

    <div
      class="arrow-left"

      [ngClass]="(currentQuestion === 0 ? 'arrow__last-position' : 'arrow' )"
      (click)="previousQuestion()">
        <i class="fas fa-caret-left"></i>
    </div>

    <div
      *ngFor="let question of questions; let i = index">

      <div [hidden]="currentQuestion !== i">
        <app-question-window
          [question]="question">
        </app-question-window>
      </div>
    </div>

    <div
      class="arrow-right"

      [ngClass]="(currentQuestion === (ticketLength - 1) ? 'arrow__last-position' : 'arrow' )"
      (click)="nextQuestion()">
        <i class="fas fa-caret-right"></i>
    </div>

  </div>

</div>










<!--<app-progress-bar [countOfQuestions]="ticketLength"></app-progress-bar>-->


<!--<div class="row justify-content-center no-gutters">-->

<!--&lt;!&ndash; ЛЕВАЯ КНОПКА&ndash;&gt;-->
<!--<div class="col-md-2">-->
<!--<div-->
<!--[ngClass]="(currentQuestion === 0 ? 'icon-arrows__last-position' : 'icon-arrows' )"-->
<!--(click)="previousQuestion()">-->
<!--<i class="fas fa-caret-left"></i>-->
<!--</div>-->
<!--</div>-->


<!-- ЗАДАНИЕ -->
<!--<div class="col">-->
<!--<div *ngFor="let question of questions; let i = index">-->
<!--<div [hidden]="currentQuestion !== i">-->
<!--<app-question-window-->
<!--[question]="question">-->
<!--</app-question-window>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->



<!--&lt;!&ndash; Правая кнопка &ndash;&gt;-->
<!--<div class="col-md-2">-->
<!--<div-->
<!--[ngClass]="(currentQuestion === (ticketLength - 1) ? 'icon-arrows__last-position' : 'icon-arrows' )"-->
<!--(click)="nextQuestion()">-->
<!--<i class="fas fa-caret-right"></i>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
