

<div class="row justify-content-center">

  <div class="traffic-light" *ngFor="let item of resultsMassive; let i = index" (click)="onClick(i)">
    <div
      [ngClass]="{

        'traffic-light__icon__current_color': (i === currentQuestion) && (item === null),
        'traffic-light__icon__false': (item !== null) && !item,
        'traffic-light__icon__true': item,
        'traffic-light__icon__current': i === currentQuestion
      }"
      class="traffic-light__icon">

      <i class="fas fa-circle" style="border-bottom-width: 10px; border-color: yellow"></i>
    </div>
  </div>

</div>
