
.traffic-light {
  display: inline;
}

.traffic-light__icon {
  display: inherit;
  font-size: 35px;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.traffic-light__icon :hover {
  color: #c9bfb5;
}

.traffic-light__icon__true {
  color: green;
}

.traffic-light__icon__false {
  color: red;
}

.traffic-light__icon__current {
  font-size: 1.8em;
}

.traffic-light__icon__current_color {
  color: yellow;
}
