<div
  [ngClass]="{
    'one': visible,
    'alert-success': type === 'success',
    'alert-danger': type === 'warning',
    'alert-dark': type === 'common'
  }"
  class="notification-container alert alert-success">

  <div class="notification-title" *ngIf="type === 'success'">
    Успех!
  </div>
  <div class="notification-title" *ngIf="type === 'warning'">
    Ошибка
  </div>
  <div class="notification-title" *ngIf="type === 'common'">
    Уведомление
  </div>

  <div class="notification-content">
    <p>{{ text }}</p>
  </div>
</div>

