.notification-container {
  /*right: 0;*/
  bottom: 0;
  right: -300px;

  margin-right: 20px;
  margin-bottom: 20px;

  padding: 10px;

  border-radius: 5px;

  /*width: 250px;*/
  min-height: 120px;

  max-width: 250px;

  z-index: 10;

  position: absolute;

  transition-property: right;
  transition: 0.65s linear;
}

.notification-title {
  font-size: 18px;
  padding-bottom: 10px;
}

.one {
  right: 0px;
}
