<div>
  joinedToRoom$ - {{ this.pvpService.joinedToRoom$ | async}}<br>
  joinedToGame$ - {{ this.pvpService.joinedToGame$ | async}}
</div>

<div class="pvp-container" *ngIf="!(this.pvpService.joinedToGame$ | async)">

  <app-chat></app-chat>

  <button
    *ngIf="!(this.pvpService.joinedToRoom$ | async)"
    (click)="addToRoom()"
    class="btn btn-info">
    New game!
  </button>

  <div *ngIf="this.pvpService.joinedToRoom$ | async">
    Ожидание...
  </div>

</div>


<div *ngIf=" this.pvpService.joinedToGame$ | async">

  <app-chat></app-chat>

  <app-ticket [pvpMode]="true"></app-ticket>

</div>
