
/*body {*/
  /*height: inherit;*/
  /*overflow:hidden;*/

/*}*/


html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px;  /*removes default style*/
  box-sizing: border-box;
}
