
<!--<header>-->
  <!--<app-header></app-header>-->
<!--</header>-->

<!-- new version -->

<!--<div class="content-and-side-bar h-i">-->
  <!--<div class="container-fluid h-i">-->
    <!--<div class="row h-i no-gutters">-->

      <!--&lt;!&ndash; SIDE-BAR  SIDE-BAR &ndash;&gt;-->
      <!--<div class="col-md-2 h-i">-->
        <!--<div class="side-bar-wrapper h-i">-->
          <!--<ul class="nav flex-column">-->
            <!--<li class="nav-item">-->
              <!--<a class="nav-link"-->
                 <!--routerLinkActive="active"-->
                 <!--[routerLink]="['/core/practice']">Практика</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
              <!--<a class="nav-link"-->
                 <!--routerLinkActive="active"-->
                 <!--[routerLink]="['/core/theory']">Теория</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
              <!--<a class="nav-link"-->
                 <!--routerLinkActive="active"-->
                 <!--[routerLink]="['/core/dashboard']">Статистика</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
              <!--<a class="nav-link"-->
                 <!--routerLinkActive="active"-->
                 <!--[routerLink]="['/core/pvp']">PvP</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; SIDE-BAR  SIDE-BAR &ndash;&gt;-->


      <!--&lt;!&ndash; CONTENT-PLACE (ptactice, theory....) &ndash;&gt;-->
      <!--<div class="col-md-10">-->
        <!--<div class="inner-content">-->
          <!--<router-outlet></router-outlet>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; CONTENT-PLACE (ptactice, theory....) &ndash;&gt;-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->





  <div class="layout">

    <div #backgroundsList class="backgrounds-list"></div>

    <div class="layout__side">
      <div class="layout__side__title">
        <a
          (click)="changeBackground(0)"
          routerLinkActive="active"
          [routerLink]="['/core']"
          href="">NoName</a>
      </div>

      <div class="layout__side__nav">
        <nav>

          <a
            (click)="changeBackground(1)"
            routerLinkActive="active"
            [routerLink]="['/core/practice']"
            class="menu-link first"
          >Практика</a>

          <a
            (click)="changeBackground(2)"
            href="#" class="menu-link second"
            routerLinkActive="active"
            [routerLink]="['/core/dashboard']">
            Статистика</a>

          <a
            (click)="changeBackground(3)"
            class="menu-link third"
            routerLinkActive="active"
            [routerLink]="['/core/pvp']"
          >PvP</a>

        </nav>
      </div>
    </div>

    <div class="layout__main">

      <!--<div class="layout__main__header"></div>-->
      <app-header></app-header>

      <div class="layout__main__content">
        <router-outlet></router-outlet>
      </div>

    </div>

  </div>
