.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.layout__side {
  flex: 0 0 15%;

  border-right: 1px solid #dadada;
  background-color: white;
}

.layout__main{
  flex: 1 0 85%;

  overflow: hidden;
  padding-bottom: 20px;
}
.layout__main__header {
  height: 7%;
  border-bottom: 1px solid #dadada;
}

.layout__main__content {
  height: 100%;
  overflow-y: scroll;
}

/* выключаем скролл-бар */
.layout__main__content::-webkit-scrollbar { width: 0; }


/* side */
.layout__side__title {
  height: 7%;
  font-size: 20px;
  border-bottom: 1px solid #dadada;
  background-color: azure;

  display: flex;
  justify-content: center;
  align-items: center;
}
.layout__side__title a {
  color: black;
  text-decoration: none;
}

.layout__side__nav a {
  padding: 10px;
  border-bottom: 1px solid #dadada;
}

.menu-link {
  display: block;
  font-size: 30px;
  text-align: center;
  color: black;

  /* убрали подчеркивание */
  text-decoration: none;
}

.first:hover {
  background-color: rgba(128, 255, 114, 0.75);
}
.first.active {
  background-color: rgba(128, 255, 114, 1);
}

.second:hover {
  background-color: rgba(255, 240, 124, 0.75);
}
.second.active {
  background-color: rgba(255, 240, 124, 1);
}

.third:hover {
  background-color: rgba(239, 121, 138, 0.75);
}
.third.active {
  background-color: rgba(239, 121, 138, 1);
}

/* еще два цвета */
/* #234234  -  церный */
/* #7d82b8  - синенький */

/* анимация */
/* анимация */

.layout__back {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  right: 0;

  pointer-events: none;
  /* чтобы был ниже по z-index`у относительно main и sidebar */
  z-index: -1;
}

.circle-first {
  background-color: rgba(128, 255, 114, 1);
  animation: animationOfFirstBtn 2s;

  /*animation-fill-mode: forwards;*/
  /*clip-path: circle(15px at 10.5% 12.4%);*/
  /*clip-path: circle(900px at 60% 275px);*/
  /*transition: all 1s cubic-bezier(0.895, 0.03, 0.685, 0.22);*/
}

.circle-second {
  background-color: rgba(255, 240, 124, 1);
  animation: animationOfSecondBtn 2s;
}

.circle-third {
  background-color: rgba(239, 121, 138, 1);
  animation: animationOfThirdBtn 2s;
}

.circle-title {
  background-color: white;
  animation: animationOfTitleBtn 2s;
}

@keyframes animationOfTitleBtn {
  from {
    clip-path: circle(0% at 10% 4%);
  }
  to {
    clip-path: circle(100% at 50% 50%);
  }
}

@keyframes animationOfFirstBtn {
  from {
    clip-path: circle(0% at 10% 12%);
  }
  to {
    clip-path: circle(100% at 50% 50%);
  }
}

@keyframes animationOfSecondBtn {
  from {
    clip-path: circle(0% at 10% 20%);
  }
  to {
    clip-path: circle(100% at 50% 50%);
  }
}

@keyframes animationOfThirdBtn {
  from {
    clip-path: circle(0% at 10% 28%);
  }
  to {
    clip-path: circle(100% at 50% 50%);
  }
}


@keyframes newStyle {
  from {
    clip-path: circle(0% at 10% 20%);
  }
  to {
    clip-path: circle(100% at 50% 50%);
  }
}

/* анимация */
/* анимация */
